#header { 
    width: 100%;
    padding: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.profile-pic {
    border-radius: 100%;
    width: 40%;
    float: left;
    margin-right: 40px;
}