#header { 
    background-color: var(--primary-color);
    padding: 60px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}


.right-container {
    width: 30%;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    color: var(--primary-color);
}