.signupForm {
    border: 1px solid var(--primary-color);
    width: 40%;
    border-radius: 12px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formInput > input {
    padding: 10px;
}

