.taskBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 20px 40px;
    border-radius: 50px;
}


.completedBox {
    padding: 10px;
    border: 2px solid rgb(99, 165, 0);
    color: rgb(99, 165, 0);
    border-radius: 12px;
}

.completedBox:hover {
    cursor: pointer;
}
